USE [master]
GO
/****** Object:  Database [FreshCareDB]    Script Date: 27/3/2026 5:38:20 PM ******/
CREATE DATABASE [FreshCareDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FreshCareDB', FILENAME = N'E:\codeeeeeeeeeeeeeeeeeeee app\MSSQL16.MSSQLSERVER\MSSQL\DATA\FreshCareDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FreshCareDB_log', FILENAME = N'E:\codeeeeeeeeeeeeeeeeeeee app\MSSQL16.MSSQLSERVER\MSSQL\DATA\FreshCareDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FreshCareDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FreshCareDB]
GO
/****** Object:  Table [dbo].[LoHang]    Script Date: 27/3/2026 5:38:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoHang](
	[MaLo] [varchar](50) NOT NULL,
	[MaSP] [varchar](20) NULL,
	[NgaySanXuat] [date] NOT NULL,
	[HanSuDung] [date] NOT NULL,
	[SoLuongBanDau] [float] NOT NULL,
	[SoLuongTon] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 27/3/2026 5:38:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](20) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DonViTinh] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoHang] ([MaLo], [MaSP], [NgaySanXuat], [HanSuDung], [SoLuongBanDau], [SoLuongTon]) VALUES (N'LO_997', N'SP02', CAST(N'2026-03-27' AS Date), CAST(N'2026-06-27' AS Date), 3, 3)
INSERT [dbo].[LoHang] ([MaLo], [MaSP], [NgaySanXuat], [HanSuDung], [SoLuongBanDau], [SoLuongTon]) VALUES (N'LO_999', N'SP01', CAST(N'2026-03-27' AS Date), CAST(N'2026-03-28' AS Date), 100, 100)
INSERT [dbo].[LoHang] ([MaLo], [MaSP], [NgaySanXuat], [HanSuDung], [SoLuongBanDau], [SoLuongTon]) VALUES (N'LO_CACHUA_001', N'SP01', CAST(N'2026-03-01' AS Date), CAST(N'2026-03-28' AS Date), 10, 0)
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh]) VALUES (N'SP01', N'Cà chua Hữu cơ', N'Kg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonViTinh]) VALUES (N'SP02', N'Rau muống', N'Bó')
GO
ALTER TABLE [dbo].[LoHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
USE [master]
GO
